.float-off-left3d {
	-webkit-transform: translate3d(100vw,0,0);
	transition: all 0.5s ease-out;
}

.float-off-left3d.transition-in {
    -webkit-transform: translate3d(100vw,0,0) translateX(-100%);
}

.float-off-top3d {
	-webkit-transform: translateY(-100%);
	transition: all 0.5s ease-out;
}

.float-off-top3d.transition-in {
    -webkit-transform: translate3d(0,0,0);
}

.side-nav {
    width: 250px;
	background: black;
	opacity: 0.6;
	padding-top: 20px;
	padding-left: 20px;
    padding-right: 20px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
}

.setting.active {
	border: 2px white solid;
	border-radius: 5px;
}

.setting-icon {
	opacity: 0;
	padding-right: 10px;
	padding-left: 5px;
}

.enabled .setting-icon {
	opacity: 1;
}

.setting {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 5px;
}

.control-icon {
	opacity: .6;
	transition: all 0.5s linear;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%) scale(2);
	transform: translate(-50%, -50%) scale(2);
}

.active .control-icon {
	opacity: 1;
	transform: translate(-50%, -50%) scale(3);
}

.control-wrapper {
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	transition: all 0.5s linear;
}

.control-wrapper.active {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,.75) 0%, rgba(255,255,255,0) 74%, rgba(255,255,255,0) 100%);
}

html, body {
	height: 100%;
}

html { 
	background: url("../images/justdj.gif") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

.full-height {
	height: 100%;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

.controls {
	text-align: center;
	display: inline-block;
}

.controlImg {
	height: 50px;
	margin: 30px 15px 15px 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	display: inline-block;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 24px 17px;
    text-decoration: none;
}